@font-face {
  font-family: "Avenir-Medium";
  src: local("Avenir-Medium"),
    url(./fonts/Avenir/Avenir-Medium.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Avenir-Medium", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
